#container {
  width:720px;
  text-align:justify;
  background-color:#fff;
  margin:auto;
}

body {
background-color:#cccccc;
font-family: Verdana;
font-size:11px;
}

p:first-letter {
color:blue;
font-weight:bold;
font-size:38px;
font-family: 'Times New Roman', Times, serif;
}

#content {
width:550px;
height:300px;
float:left;
background-color:#FFF;
padding:0 10px;
}

#nav {
width:150px;
height:300px;
float:left;
background-color:#e7e7e7;
 color: blue;
}

#header {
height: 50px;
background-color:#b0b0b0;
}

h1 {
padding:15px 0 0 38px;
margin-top:7px;

}

ul li{
padding:10px 0;
list-style:none;
font-size:12px;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
color:black;
text-decoration:none;
}

a:hover {
color:black;
font-weight: bold;
text-decoration:underline;
}

a:active {
  color:black;
  font-weight:bold;
  text-decoration:underline;
}
